body,
html {
  margin: 0;
  padding: 0;
  overflow: auto;
  background-color: white;
  height: 100%;
}

#root {
  margin: 0;
  padding: 0;
}

#appcont {
  width: 60%;
  /* background-color: yellow; */
  padding: 0;
  margin-top: 4rem;
}

@media (max-width: 1024px) {
  #appcont {
    width: 100%;
    /* background-color: green; */
  }
}

#profileImg {
  padding-bottom: 1rem;
  /* background-color: red; */
}

#cardTitle {
  font-size: 1.5rem;
  outline: none;
}

#card {
  border-width: 0;
  background-color: rgba(255, 0, 0, 0) !important;
  padding: 1.5rem;
  
}

#cardBody {
  font-size: 0.9rem;
  padding: 0;
}

.imgIcon {
  height: 50px;
  width: 50px;
}

.buttonCont {
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  display: flex;
  align-items: center;
}

.servicebutton {
  width: inherit;
  margin-top: .8rem;
  width: 100%;
  background-color: #eeeeee !important;
}

.buttonitem {
  margin-left: 1rem;
}

#servicetitle {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 1.5rem;
  font-weight: 400;
}

.listitem {
  border: none !important;
  background-color: rgba(255, 0, 0, 0) !important;
}

.menu {
  /* background-color: aqua; */
  width: 95%;
}

.navbarcont {
  justify-content: center !important;
  padding: .7rem !important;
  background-color: #eeeeee;
}

.textcenter {
  text-align: center;
}

.feedbackitem {
  padding-left: 0.1rem !important;
  width: 18rem;
  border: none !important;
  flex: 0 0 auto;
}

#horizontalScrollList {
  display: flex;
  overflow-x: auto;
  width: 100%;
}

.feedbackcard {
  height: 100% !important;
  background-color: #eeeeee !important;
}

.textarea {
  background-color: #eeeeee !important;
}