body,
html {
  margin: 0;
  padding: 0;
  overflow: auto;
  height: 100%;
  background-image: url(
    'https://images.unsplash.com/photo-1582738411706-bfc8e691d1c2?q=80&w=1587&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: cover;
  background-position: center;
}

#root {
  margin: 0;
  padding: 0;
}

#appcont {
  width: 60%;
  padding: 0;
  margin-top: 4rem;
}

#cardTitle {
  font-size: 1.5rem;
  align-self: center;
}

#position {
  font-size: 1rem;
  align-self: center;
}

#card {
  border-width: 0;
  background-color: rgba(255, 0, 0, 0) !important;
}

#cardBody {
  font-size: 0.9rem;
  padding: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.imgIcon {
  height: 50px;
  width: 50px;
}

.buttonCont {
  display: flex;
  align-items: center;
  padding-top: 0 !important;
}

.servicebutton {
  width: inherit;
  width: 100%;
  background-color: white !important;
  margin-top: 1rem;
}

.buttonitem {
  margin-left: 1rem;
  align-self: left;
}

#servicetitle {
  font-size: 1.3rem;
  text-align: center;
  padding: 2rem 1rem 2rem 1rem;
  font-weight: 600;
}

.servicename {
  color: black !important;
}

.listitem {
  border: none !important;
  background-color: rgba(255, 0, 0, 0) !important;
}

.menu {
  width: 95%;
}

.navbarcont {
  justify-content: center !important;
  padding: .7rem !important;
}

.textcenter {
  text-align: center;
}

.feedbackitem {
  padding-left: 0.1rem !important;
  width: 18rem;
  border: none !important;
  flex: 0 0 auto;
  background-color: rgba(255, 0, 0, 0) !important;
}

#horizontalScrollList {
  display: flex;
  overflow-x: auto;
  width: 100%;
}

.feedbackcard {
  height: 100% !important;
  border: none !important;
}

.textarea {
  background-color: #eeeeee !important;
}

.container {
  padding-top: 1rem;
  width: 95% !important;
}


@media (min-width: 768px) {
  .container {
    width: 70% !important;
  }
}

.aboutpageimg {
  margin-bottom: 1rem;
}

.carousel-image {
  object-fit: cover;
}

.slick-dots {
  position: static !important; /* Override 'absolute' position */
}

.slick-slider {
  padding-bottom: 1rem;
}
