body,
html {
  margin: 0;
  padding: 0;
  overflow: auto;
  background-color: #f3f4f8;
}

#root {
  margin: 0;
  padding: 0;
  background-color: #f3f4f8;
}

#appcont {
  width: 60%;
  /* background-color: yellow; */
  margin-top: 80px;
  padding: 0;
}

@media (max-width: 1024px) {
  #appcont {
    width: 100%;
  }
}

#profileImg {
  padding-bottom: 1rem;
  /* background-color: red; */
}

#cardTitle {
  font-size: 1.5rem;
  outline: none;
}

#card {
  border-width: 0;
  /* background-color: green; */
  padding: 1.5rem;
  
}

#cardBody {
  font-size: 0.9rem;
  padding: 0;
}

.imgIcon {
  height: 50px;
  width: 50px;
}

.buttonCont {
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  display: flex;
  align-items: center;
}

.servicebutton {
  width: inherit;
  margin-top: .8rem;
  width: 100%;
}

.buttonitem {
  margin-left: 1rem;
}

#servicetitle {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 1.2rem;
  font-weight: 700;
}

.listitem {
  border: none !important;
  background-color: #f3f4f8 !important;
}

.menu {
  /* background-color: aqua; */
  width: 95%;
}

.navbarcont {
  justify-content: center !important;
  padding: .7rem !important;
}

.servicename {
  color: black !important;
}

.textcenter {
  text-align: center;
}

.feedbackitem {
  padding: 0 !important;
  width: 15rem;
  border: none !important;
  margin-right: .6rem;
  flex: 0 0 auto;
}

#horizontalScrollList {
  display: flex;
  overflow-x: auto;
  width: 100%;
  margin-bottom: 1rem;
}